<app-header [counter]="counter"></app-header>
<div class="Item__Container">
  <div
    *ngFor="let item of filterskorobki; let index = index"
    class="Item__Container__Detail width"
  >
    <div>
      <img src="{{ item.img }}" alt="" />
    </div>
    <div>{{ item.name }}</div>
    <div>Наименование: {{ item.naimenovanie }}</div>
    <div>Цена: {{ item.price | currency : "р" }}</div>
    <div>Длина: {{ item.long + " " + "[мм]" }}</div>
    <div>Вид коробки передач: {{ item.typeakpp }}</div>
    <button (click)="addToCart(index)">В корзину</button>
  </div>
</div>
