<app-header [counter]="counter"></app-header>
<div class="HomePage__Container">
  <video
    class="video"
    autoplay="autoplay"
    disablePictureInPicture
    loop
    preload="auto"
    muted="muted"
  >
    <source src="../../../assets/video/audi_lovers_-_rockstar_hd.xZBwY.mp4" />
  </video>
  <div class="HomePage__Container__ModelLine"></div>

  <div class="NameCenter">
    <h2>Audi</h2>
    <h2>Центр Минск</h2>
  </div>

  <div class="HomePage__Container__AudiCenter">
    <div class="HomePage__Container__AudiCenter__Minsk">
      <div class="HomePage__Container__AudiCenter__Minsk__Img">
        <img
          src="../../../assets/img/audi-center/audi-centr-minsk.jpg"
          alt=""
        />
      </div>
      <div class="HomePage__Container__AudiCenter__Minsk__Info">
        <div class="NameCenter">
          <span>Audi</span>
          <span>Центр Минск</span>
        </div>
        <div>
          <p>
            На сегодняшний день в Минске находятся два официальных дилера Audi:
            автоцентр полного цикла «Audi Центр Минск» (ООО "ЭЙС-МОТОРС") и
            «Audi Сервис Центр Серова» (ООО "Автосалон-АВ").Таким образом,
            владельцы автомобилей Audi имеют возможность выбора одного из двух
            сервисных центров с наиболее удобным для них расположением.
          </p>
          <p>
            «Audi Сервис Центр Серова» оснащен 11 подъемниками и всем
            необходимым специальным инструментом и стендами для осуществления
            ремонта без долгих очередей.Работы в обоих дилерских центрах
            проводятся командой профессионалов с многолетним опытом работы с
            брендом Audi согласно стандартам качества немецкого
            завода-производителя.
          </p>
          <p>
            Приобретая автомобиль в автоцентре AUDI, Вы получите полный спектр
            услуг обслуживания: возможность записаться и пройти тест-драйв,
            купить авто в кредит или лизинг, оформить страховку на авто,
            воспользоваться программой trade-in, приобрести и установить
            дополнительное оборудование или аксессуары для различных моделей.
          </p>
          <p>г.Минск, пр.Независимости 198</p>
          <p>+375-29-191-88-88</p>
          <p>+375-17-311-88-88</p>
          <p>+375-29-136-15-15</p>
          <a
            href="https://yandex.by/maps/org/audi_tsentr_minsk/1479696815/?ll=27.711329%2C53.952092&source=wizgeo&utm_medium=maps-desktop&utm_source=serp&z=17"
            target="_blank"
            >Мы на карте</a
          >
        </div>
      </div>
    </div>

    <div class="NameCenter">
      <h2>Audi</h2>
      <h2>Центр Гомель</h2>
    </div>

    <div class="HomePage__Container__AudiCenter__Gomel">
      <div class="HomePage__Container__AudiCenter__Gomel__Info">
        <div class="NameCenter">
          <span>Audi</span>
          <span>Центр Гомель</span>
        </div>
        <div>
          <p>
            «Audi Центр Гомель» начал свою работу в 2019 году. Он построен по
            новой фирменной концепции «Audi City» в котором представлены самые
            популярные модели компании из Ингольштадта.Сегодня дилерский центр
            предлагает полный комплекс услуг по покупке автомобилей и
            оригинальных запчастей, сервисному обслуживанию, тюнингу, а также
            дополнительные услуги.
          </p>
          <p>
            «Audi Сервис Центр Гомель» оснащен 12 подъемниками и всем
            необходимым специальным инструментом и стендами для осуществления
            ремонта долгих очередей.Работы проводятся командой профессионалов с
            многолетним опытом работы с брендом Audi согласно стандартам
            качества немецкого завода-производителя.
          </p>
          <p>
            Приобретая автомобиль в автоцентре AUDI, Вы получите полный спектр
            услуг обслуживания: возможность записаться и пройти тест-драйв,
            купить авто в кредит или лизинг, оформить страховку на авто,
            воспользоваться программой trade-in, приобрести и установить
            дополнительное оборудование или аксессуары для различных моделей.
          </p>
          <p>г. Гомель, ул. Советская 119</p>
          <p>+375-29-501-04-04</p>
          <p>+375-44-501-04-04</p>
          <a
            href="https://yandex.by/maps/155/gomel/?ll=30.987562%2C52.462390&mode=poi&poi%5Bpoint%5D=30.987368%2C52.462432&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D239556461227&source=wizgeo&utm_medium=maps-desktop&utm_source=serp&z=18.8"
            target="_blank"
            >Мы на карте</a
          >
        </div>
      </div>
      <div class="HomePage__Container__AudiCenter__Gomel__Img">
        <img
          src="../../../assets/img/audi-center/audi-centr-gomel.jpg"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="HomePage__Container__InstrumentsAndServices">
    <h1>
      <span>Инструменты и услуги</span>
    </h1>
    <div class="HomePage__Container__InstrumentsAndServices__Info">
      <div>
        <img src="../../../assets/img/audi-center/services.jpg" alt="" />
        <div>
          <a [routerLink]="['/repair']" class="shine-button">Подробнее</a>
        </div>
      </div>
      <div class="margin-left">
        <img src="../../../assets/img/audi-center/avto_v_nalichii.jpg" alt="" />
        <div>
          <a [routerLink]="['/models']" class="shine-button">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
