<app-header [counter]="counter"></app-header>
<div class="ModelsContainer">
  <div class="SpanModels">
    <span>Models</span>
  </div>
  <div class="MainBlockModels">
    <div class="MainBlockModels__Audi">
      <div class="MainBlockModels__Title">A3</div>
      <div class="MainBlockModels__Wrap">
        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>A3</span>
            <span>Sportback</span>
          </h3>
          <div>
            <img src="../../../assets/img/A3/A3_Sportback.PNG" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>

        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>A3</span>
            <span>Sedan</span>
          </h3>
          <div>
            <img src="../../../assets/img/A3/A3_Sedan.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>

        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>RS3</span>
            <span>Sedan</span>
          </h3>
          <div>
            <img src="../../../assets/img/A3/RS3_Sedan.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>

        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>RS3</span>
            <span>Sportback</span>
          </h3>
          <div>
            <img src="../../../assets/img/A3/RS3_Sportback.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>
      </div>
    </div>

    <div class="MainBlockModels__Audi">
      <div class="MainBlockModels__Title">A4</div>
      <div class="MainBlockModels__Wrap">
        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>A4</span>
            <span>Sedan</span>
          </h3>
          <div>
            <img src="../../../assets/img/A4/A4_Sedan.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>

        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>A4</span>
            <span>Avant</span>
          </h3>
          <div>
            <img src="../../../assets/img/A4/A4_Avant.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>

        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>A4</span>
            <span>Allroad quattro</span>
          </h3>
          <div>
            <img src="../../../assets/img/A4/A4_allroad.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>
      </div>
    </div>

    <div class="MainBlockModels__Audi">
      <div class="MainBlockModels__Title">A5</div>
      <div class="MainBlockModels__Wrap">
        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>A5</span>
            <span>Coupe</span>
          </h3>
          <div>
            <img src="../../../assets/img/A5/A5_Coupe.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>

        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>A5</span>
            <span>Sportback</span>
          </h3>
          <div>
            <img src="../../../assets/img/A5/A5_Sportback.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>

        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>RS5</span>
            <span>Coupe</span>
          </h3>
          <div>
            <img src="../../../assets/img/A5/RS5_Coupe.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>
      </div>
    </div>

    <div class="MainBlockModels__Audi">
      <div class="MainBlockModels__Title">A6</div>
      <div class="MainBlockModels__Wrap">
        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>A6</span>
            <span>Sedan</span>
          </h3>
          <div>
            <img src="../../../assets/img/A6/A6_Sedan.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>

        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>A6</span>
            <span>Avant</span>
          </h3>
          <div>
            <img src="../../../assets/img/A6/A6_Avant.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>
      </div>
    </div>

    <div class="MainBlockModels__Audi">
      <div class="MainBlockModels__Title">A7</div>
      <div class="MainBlockModels__Wrap">
        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>A7</span>
            <span>Sportback</span>
          </h3>
          <div>
            <img src="../../../assets/img/A7/A7_Sportback.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>

        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>RS7</span>
            <span>Sportback</span>
          </h3>
          <div>
            <img src="../../../assets/img/A7/RS7_Sportback.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>
      </div>
    </div>

    <div class="MainBlockModels__Audi">
      <div class="MainBlockModels__Title">A8</div>
      <div class="MainBlockModels__Wrap">
        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>A8</span>
          </h3>
          <div>
            <img src="../../../assets/img/A8/A8.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>

        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>A8</span>
            <span>Long</span>
          </h3>
          <div>
            <img src="../../../assets/img/A8/A8_Long.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>
      </div>
    </div>

    <div class="MainBlockModels__Audi">
      <div class="MainBlockModels__Title">Q3</div>
      <div class="MainBlockModels__Wrap">
        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>Q3</span>
            <span>Sportback</span>
          </h3>
          <div>
            <img src="../../../assets/img/Q3/Q3.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>

        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>Q3</span>
            <span>Sportback</span>
          </h3>
          <div>
            <img src="../../../assets/img/Q3/Q3_Sportback.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>
      </div>
    </div>

    <div class="MainBlockModels__Audi">
      <div class="MainBlockModels__Title">Q5</div>
      <div class="MainBlockModels__Wrap">
        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>Q5</span>
          </h3>
          <div>
            <img src="../../../assets/img/Q5/Q5.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>

        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>SQ3</span>
          </h3>
          <div>
            <img src="../../../assets/img/Q5/SQ5.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>
      </div>
    </div>

    <div class="MainBlockModels__Audi">
      <div class="MainBlockModels__Title">Q7</div>
      <div class="MainBlockModels__Wrap">
        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>Q7</span>
          </h3>
          <div>
            <img src="../../../assets/img/Q7/Q7.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>

        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>SQ7</span>
            <span>TDI</span>
          </h3>
          <div>
            <img src="../../../assets/img/Q7/SQ7.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>
      </div>
    </div>

    <div class="MainBlockModels__Audi">
      <div class="MainBlockModels__Title">Q8</div>
      <div class="MainBlockModels__Wrap">
        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>Q8</span>
          </h3>
          <div>
            <img src="../../../assets/img/Q8/Q8.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>

        <div class="MainBlockModels__Wrap__AudiInfo">
          <h3>
            <span>SQ8</span>
            <span>TDI</span>
          </h3>
          <div>
            <img src="../../../assets/img/Q8/SQ8.png" />
          </div>
          <a href="#" class="shine-button">Информация</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
